# Latex
**/*.bbl
**/*-blx.bib
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.for
**/*.idx
**/*.ist
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.gz
**/*.toc
**/*.run.xml
**/*.blg
**/*.ilg
**/*.ind
**/*.synctex
**/*.synctex